
@{
    ViewData["Title"] = "Photo";
}

<div style="height:150px; display:inline-block" class="myclass1">
    <img src="@ViewData["Link"]" height="100" style="width:auto"><br />
    <button type="button" class="btn btn-danger btn-sm del-photo" style="float:left;display:block;position: relative;margin:0 auto;">Delete photo</button>
</div>
<script type="text/javascript">
    $(".del-photo").click(function () {
        $.ajax({
            url: '/Home/DelPhotoFromDB',
            type: 'POST',
            data: { ID: @ViewData["PhotoID"], IsRecord:"@ViewData["IsRecord"]"},
            })

        $(this).closest(".myclass1").remove();
        return false;
    });
</script>