@page
@model AdminMenuModel
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "AdminMenu";
    var users = UserManager.Users.ToList();

}


<h4>@ViewData["Title"]</h4>

<p>TYT ADMIN SIDIT</p>

<form method="post">
    <table class="table">
        <tr>

            <th>
                <button type="submit" asp-action="Lock" class="btn btn-sm btn-warning"> Lock</button>
            </th>
            <th>
                <button type="submit" asp-action="Unlock" class="btn btn-sm btn-success"> Unlock</button>
            </th>
            <th>
                <button type="submit" asp-action="Delete" class="btn btn-sm btn-danger"> Delete</button>
            </th>
        </tr>
        <tr>
            <th>
                <input type="checkbox" onClick="toggle(this)" /> Toggle All<br />
            </th>
            <th>
                Email
            </th>
            <th>
                First In
            </th>
            <th>
                Last In
            </th>
            <th>
                User Status
            </th>
        </tr>
        @foreach (var user in users)
        {
            <tr>
                <th>
                    <input type="checkbox" name="selected" value="@user.Id" />

                </th>
                <td>@user.Email</td>
                <td>
                    @if (user.Status)
                    {<p>Unlocked</p>}
                    else
                    { <p>Locked</p>}
                </td>
            </tr>

        }
    </table>
</form>
<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('selected');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
