@page
@model PersonalInstructionsModel
@{
    ViewData["Title"] = "Instructions";
    ViewData["ActivePage"] = ManageNavPages.PersonalInstructions;
}

<h4>@ViewData["Title"]</h4>
<input type="button" value="Add new instruction" onclick="window.location='@Url.Action("Index", "Records")'" class="btn btn-primary" />
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
