@{
    ViewData["Title"] = "Index";
}

<br />
<div class="jumbotron">
    @foreach (string tagName in ViewBag.TagsNames)
    {
        <div style="background-color:cornflowerblue; border-radius:15px;  padding:5px; padding-left:10px; padding-right:10px; display: inline-block;">
          @tagName
        </div>
    }
</div>


<div id="Records"></div>
<center>
    <input type="button" id="AddMore" class="btn btn-default" value="Get more records" />
</center>
<script type="text/javascript">
    $('#AddMore').on('click', function (e) {
        $.ajax({
            url: '/Home/RecordsView',
            type: 'POST',
            cache: false,
            async: true,
            dataType: "html",
        })
            .done(function (result) {
                $('#Records').append(result);
            }).fail(function (xhr) {
                console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
            })
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/Home/RecordsView',
            type: 'POST',
            cache: false,
            async: true,
            dataType: "html",
        })
        .done(function (result) {
            $('#Records').append(result);
        }).fail(function (xhr) {
            console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
        }) });
</script>
